@using TestTaskApi.BLL.DTO
@model PlayerDto
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Создание игрока</h1>
    <form asp-action="AddPlayer" asp-controller="Home" asp-anti-forgery="true">
          <div>
            <label asp-for="Surname"> Фамилия</label><br/>
            <input asp-for="Surname"/>
            <span asp-validation-for="Surname"/>
        </div>
        <div>
            <label asp-for="Name">Имя</label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name" />
        </div>
        <div>
            <label asp-for="Patronymic">Отчество</label><br />
            <input type="text" asp-for="Patronymic" />
            <span asp-validation-for="Patronymic" />
        </div> 
        <div>
            <label asp-for="Balance">Баланс</label><br />
            <input type="text" asp-for="Balance" />
            <span asp-validation-for="Balance" />
        </div> 
        <div>
            <input type="submit" value="Добавить" />
        </div>
    </form>
</div>

