@using TestTaskApi.BLL.DTO
@model PlayerDto
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Редактировать игрока</h1>
    <form asp-action="EditPlayer" asp-controller="Home" asp-anti-forgery="true">
        <div>
            <label asp-for="Surname"> Фамилия</label><br />
            <input asp-for="Surname"/>
            <span asp-validation-for="Surname" />
        </div>
        <div>
            <label asp-for="Name">Имя</label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name" />
        </div>
        <div>
            <label asp-for="Patronymic">Отчество</label><br />
            <input type="text" asp-for="Patronymic" />
            <span asp-validation-for="Patronymic" />
        </div>
        <div>
            <input type="submit" value="Редактировать" />
        </div>
    </form>
</div>